.slider_2_section {
    height: 550px;
    max-width: 94%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
}

.slider_2_section h1 {
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 20px;
    left: 0;
}

.slider-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.slider-btn {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 20px;
}

.slider-btn:disabled {
    color: gray;
    cursor: not-allowed;
}

.slider-btn-right {
    right: 30px;
}

.slider-btn-left {
    right: 70px;
}

.movies-wrapper {
    overflow: hidden;
    flex: 1;
    width: 100%;
}

.movies-track {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

