.slider_2_section {
    height: 550px;
    max-width: 94%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
}

.slider_2_container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.slider_btn {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 20px;
}

.slider_btn:disabled {
    color: gray;
    cursor: not-allowed;
}

.slider_btn_right {
    right: 30px;
}

.slider_btn_left {
    right: 70px;
}

.slider_2_movies_wrapper {
    overflow: hidden;
    flex: 1;
    width: 100%;
}

.slider_2_movies_track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px;
}

.slider_title_wrapper span {
    padding: 10px;
    background-color: #df4940;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider_title_wrapper  {
    color: white;
    position: absolute;
    top: 20px;
    left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}



.slider_2_movie_card {
    width: 237px !important;
    height: 350px;
    color: #fff;
}

.slider_2_movie_card_details:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
}

.slider_2_movie_card_details {
    width: 100%;
    height: 320px;
    position: relative;
}

.slider_2_movie_card_details img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.slider_2_movie_context  {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.slider_2_movie_context p {
    font-size: 13px;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 2px 4px;
}

.slider_2_movieTitle {
    color: #8d9094;
    font-weight: 300;
    padding: 10px 0;
}